body .jp-controls li .jp-play, body .jp-volume-controls li .jp-play, body .jp-controls li .jp-pause, body .jp-volume-controls li .jp-pause {
  background: #b71a03;
  color: white;
  height: 43px;
  width: 43px;
  text-align: center;
  font-size: 12px;
  display: block;
  text-indent: -1000px;
}

body {
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
  width: 728px;
  background: #c7dae5;
  border-top: 10px solid #e98817;
  padding: 11px;
  margin: 0;
  font: normal 14px/1.7 'DroidSansRegular',verdana,sans-serif !important;
  color: #5e5e5e;
}
body .stream-title {
  font: 13px 'DroidSansBold',verdana,sans-serif;
  color: #3a657e;
  text-transform: uppercase;
  margin: 8px 0;
  font-weight: bold;
}
body .player-wrapper {
  background: white;
  overflow: hidden;
  *zoom: 1;
  clear: both;
  margin-top: 100px;
}
body #js-tabs {
  border: 0;
  min-height: 315px;
  width: 425px;
  display: block;
  overflow: hidden;
  clear: both;
}
body #js-tabs a {
  color: #b71a03;
  text-decoration: none;
}
body #js-tabs a:hover {
  text-decoration: underline;
}
body #weta-player {
  overflow: hidden;
  display: block;
  clear: both;
  padding: 12px;
  float: left;
  display: inline;
}
body #extra_text {
  padding: 12px;
}
body .ui-corner-all {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body .ui-tabs .ui-tabs-nav {
  padding: 0;
}
body #right-ad {
  float: right;
  display: inline;
}
body #right-ad img {
  padding-top: 12px;
}
body .jp-playlist {
  overflow: hidden;
  *zoom: 1;
  display: none;
}
body .jp-toggles {
  display: none;
}
body .jp-current-time, body .jp-duration {
  color: #cccccc;
  font-size: 12px;
  float: left;
  display: inline;
  padding: 0 6px;
  margin-top: 14px;
}
body .item-list {
  background: none;
  border: 0;
  clear: both;
  overflow: hidden;
  display: block;
  margin-bottom: 24px;
  padding: 0;
  float: left;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}
body .item-list ul {
  margin: 0;
}
body .item-list li {
  float: left;
  display: inline;
  border: 0 !important;
  font-size: 12px;
  height: 100px;
  text-align: center !important;
}
body .item-list li a {
  width: 140px;
  display: block;
  border: 0;
  color: #658598 !important;
  padding: 8px 0 80px 0 !important;
  text-decoration: none;
  background: #f6f6f6 url(../images/tab-arrow-default.gif) no-repeat;
  background-position: center 74px;
  border-right: 1px dotted #cbcbcb;
  border-left: 1px dotted #cbcbcb;
  border-bottom: 1px solid #ededed;
}
body .item-list li .active {
  background: white url(../images/tab-arrow-active.gif) no-repeat;
  background-position: center 74px;
  border: 0;
}
body .jp-controls {
  width: 50px;
}
body .jp-volume-controls {
  width: 24px;
}
body .jp-controls, body .jp-volume-controls {
  overflow: hidden;
  *zoom: 1;
  float: left;
  display: inline;
  margin: 0;
  padding-left: 0;
}
body .jp-controls li, body .jp-volume-controls li {
  float: left;
  display: inline;
  margin-right: 12px;
  overflow: hidden;
  *zoom: 1;
}
body .jp-controls li a, body .jp-volume-controls li a {
  display: block;
  text-decoration: none;
}
body .jp-controls li .jp-play, body .jp-volume-controls li .jp-play {
  background: url("../images/play.png") no-repeat;
}
body .jp-controls li .jp-pause, body .jp-volume-controls li .jp-pause {
  background: url("../images/pause.png") no-repeat;
}
body .jp-controls li .jp-unmute, body .jp-volume-controls li .jp-unmute {
  float: left;
  display: inline;
  background: url("../images/unmute.png") no-repeat;
  display: block;
  text-indent: -1000px;
  width: 18px;
  height: auto;
  margin-top: 13px;
}
body .jp-controls li .jp-mute, body .jp-volume-controls li .jp-mute {
  float: left;
  display: inline;
  background: url("../images/mute.png") no-repeat;
  display: block;
  text-indent: -1000px;
  width: 18px;
  height: auto;
  margin-top: 13px;
}
body .jp-controls li .jp-previous, body .jp-controls li .jp-next, body .jp-controls li .jp-volume-max, body .jp-controls li .jp-stop, body .jp-volume-controls li .jp-previous, body .jp-volume-controls li .jp-next, body .jp-volume-controls li .jp-volume-max, body .jp-volume-controls li .jp-stop {
  display: none;
}
body .jp-gui {
  float: left;
  display: inline;
  width: 400px;
}
body #volume-control {
  overflow: hidden;
  *zoom: 1;
}
body .max-volume {
  display: none;
}
body .jp-volume-bar {
  background: #cccccc;
  height: 8px;
  width: 50px;
  float: left;
  display: inline;
  margin-top: 18px;
}
body .jp-volume-bar-value {
  height: 8px;
  background: #557a90;
}
body .jp-progress {
  width: 100px;
  float: left;
  display: inline;
  background: #cccccc;
  height: 8px;
  margin-right: 12px;
  margin-top: 18px;
}
body .jp-play-bar {
  background: #557a90;
  height: 8px;
}
body .volume-slider {
  background: #b71a03;
  height: 18px;
  width: 8px;
}
body .jp-title {
  float: left;
  display: inline;
  clear: both;
  font-size: 12px;
}
body .jp-title li {
  list-style: none;
}

.jp-interface {
  clear: both;
  float: left;
}

#jquery_jplayer_1 {
  overflow: hidden;
  *zoom: 1;
  display: block;
  height: 300px;
}

.jp-volume-max {
  display: none !important;
}

#jp-footer .classical-weta {
  margin-top: 12px;
  float: left;
  display: inline;
}
#jp-footer .classical-weta a {
  /* Anniversary horn logo: background: url(../images/player-classical-logo-cw10.png) no-repeat; */
  background: url(../images/player-classical-logo.gif) no-repeat;
  display: block;
  text-indent: -1000px;
  height: 30px;
  margin-right: 12px;
  width: 114px;
}
#jp-footer .donate-now {
  margin-top: 12px;
  float: left;
  display: inline;
}
#jp-footer .donate-now a {
  background: url(../images/player-donate-btn.gif) no-repeat;
  display: block;
  text-indent: -1000px;
  height: 30px;
  width: 127px;
}

.classical-conversation-image {
  clear: both;
  float: left;
  display: inline;
  margin-right: 24px;
}

.classical-conversation-text {
  width: 320px;
  float: right;
  display: inline;
}
.classical-conversation-text p {
  margin: 0;
}
