@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/text/replacement";

$red: #b71a03;
$lightgray: #CCC;
$darkgray: #557a90;

%button {
  background: $red;
  color: white;
  height: 43px;
  width: 43px;
  text-align: center;
  font-size: 12px;
  display: block;
  text-indent: -1000px;
}

body {
  @include clearfix;
  overflow: hidden;
  width: 728px;
  background: #c7dae5;
  border-top: 10px solid #e98817;
  padding: 11px;
  margin: 0;
  // font-family: sans-serif;
  font: normal 14px/1.7 'DroidSansRegular',verdana,sans-serif !important;
  color: #5e5e5e;
  .stream-title {
    font: 13px 'DroidSansBold',verdana,sans-serif;
    color: #3a657e;
    text-transform: uppercase;
    margin: 8px 0;
    font-weight: bold;
  }
  .player-wrapper {
    background: white;
    @include clearfix;
    clear: both;
    margin-top: 100px;
  }
  #js-tabs {
    border: 0;
    min-height: 315px;
    width: 425px;
    display: block;
    overflow: hidden;
    clear: both;
    a {
      color: $red;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #weta-player {
    overflow: hidden;
    display: block;
    clear: both;
    padding: 12px;
    @include float-left;
  }
  #extra_text {
    padding: 12px;
  }
  .ui-corner-all {
     @include border-radius(0);
  }
  .ui-tabs .ui-tabs-nav {
    padding: 0;
  }
  #right-ad {
    @include float-right;
    img {
      padding-top: 12px;
    }
  }
  .jp-playlist {
    @include clearfix;
    display: none;
  }
  .jp-toggles {
    display: none;
  }
  .jp-current-time, .jp-duration {
    color: $lightgray;
    font-size: 12px;
    @include float-left;
    // border: 3px solid green;
    padding: 0 6px;
    margin-top: 14px;
  }
  .item-list {
    background: none;
    border: 0;
    clear: both;
    overflow: hidden;
    display: block;
    margin-bottom: 24px;
    padding: 0;
    @include float-left;
    @include clearfix;
    ul {
      margin: 0;
    }
    li {
      @include float-left;
      border: 0 !important;
      // min-height: 82px !important;
      font-size: 12px;
      height: 100px;
      text-align: center !important;
      a {
        width: 140px;
        display: block;
        border: 0;
        color: #658598 !important;
        padding: 8px 0 80px 0 !important;
        text-decoration: none;
        background: #f6f6f6 url(../images/tab-arrow-default.gif) no-repeat;
        background-position: center 74px;
        border-right: 1px dotted #cbcbcb;
        border-left: 1px dotted #cbcbcb;
        border-bottom: 1px solid #ededed;
      }
      .active {
        background: white url(../images/tab-arrow-active.gif) no-repeat;
        background-position: center 74px;
        border: 0;
      }
    }
  }
  .jp-controls {
    width: 50px;
  }
  .jp-volume-controls {
    width: 24px;
  }
  .jp-controls, .jp-volume-controls {
    @include clearfix;
    @include float-left;
    margin: 0;
    padding-left: 0;
    li {
      @include float-left;
      margin-right: 12px;
      @include clearfix;
      a {
        display: block;
        text-decoration: none;
      }
      .jp-play {
        @extend %button;
        background: url('../images/play.png') no-repeat;
      }
      .jp-pause {
        @extend %button;
        background: url('../images/pause.png') no-repeat;
      }
      .jp-unmute {
        @include float-left;
        background: url('../images/unmute.png') no-repeat;
        display: block;
        text-indent: -1000px;
        width: 18px;
        height: auto;
        margin-top: 13px;
      }
      .jp-mute {
        @include float-left;
        background: url('../images/mute.png') no-repeat;
        display: block;
        text-indent: -1000px;
        width: 18px;
        height: auto;
        margin-top: 13px;
      }
      .jp-previous, .jp-next, .jp-volume-max, .jp-stop {
        display: none;
      }
    }
  }
  .jp-gui {
    @include float-left;
    width: 400px;
  }
  #volume-control {
    @include clearfix;
  }
  .max-volume {
    display: none;
  }
  .jp-volume-bar {
    background: $lightgray;
    height: 8px;
    width: 50px;
    @include float-left;
    margin-top: 18px;
  }
  .jp-volume-bar-value {
    height: 8px;
    // width: 12px;
    background: $darkgray;
  }
  .jp-progress {
    width: 100px;
    @include float-left;
    background: $lightgray;
    height: 8px;
    margin-right: 12px;
    margin-top: 18px;
  }
  .jp-play-bar {
    background: $darkgray;
    height: 8px;
  }
  .volume-slider {
    background: $red;
    height: 18px;
    width: 8px;
  }
  .jp-title {
    @include float-left;
    clear: both;
    font-size: 12px;
    li {
      list-style: none;
    }
  }
}

.jp-interface {
  clear: both;
  float: left;
}

#jquery_jplayer_1 {
  @include clearfix;
  display: block;
  height: 300px;
}

.jp-volume-max {
  display: none !important;
}

// Footer
#jp-footer {
  .classical-weta {
    margin-top: 12px;
    @include float-left;
    a {
      background: url(../images/player-classical-logo.gif) no-repeat;
      display: block;
      text-indent: -1000px;
      height: 30px;
      margin-right: 12px;
      width: 114px;
    }
  }
  .donate-now {
    margin-top: 12px;
    @include float-left;
    a {
      background: url(../images/player-donate-btn.gif) no-repeat;
      display: block;
      text-indent: -1000px;
      height: 30px;
      width: 127px;
    }
  }
}

.classical-conversation-image {
  clear: both;
  @include float-left;
  margin-right: 24px;
}

.classical-conversation-text {
  width: 320px;
  @include float-right;
  p {
    margin: 0;
  }
}


