/* Custom fonts */

@font-face {
    font-family: 'CallunaRegular';
    src: url('../fonts/calluna-regular-webfont.eot');
    src: url('../fonts/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calluna-regular-webfont.woff') format('woff'),
         url('../fonts/calluna-regular-webfont.ttf') format('truetype'),
         url('../fonts/calluna-regular-webfont.svg#CallunaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Callunaitalic';
    src: url('../fonts/calluna-it-webfont.eot');
    src: url('../fonts/calluna-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calluna-it-webfont.woff') format('woff'),
         url('../fonts/calluna-it-webfont.ttf') format('truetype'),
         url('../fonts/calluna-it-webfont.svg#callunaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}