/**
 * Overrides for the Google CSE results.
 */

/*
form.google-cse input[type="text"] {
  padding: 20px 15px !important;
}
*/

.gsc-control-cse {
  border: none !important;
  padding: 0 !important;
  font-family: 'DroidSansRegular',verdana,sans-serif !important;
}

.gsc-control-cse .gsc-table-result {
  font-family: 'DroidSansRegular',verdana,sans-serif !important;
}

.gsc-webResult {
  border-bottom: 1px solid #CACACA !important;
}

.gs-web-image-box {
  width: 152px !important;
  height: auto !important;
}

.gs-web-image-box img.gs-image {
  max-width: 150px !important;
}

.gsc-result .gs-title {
  height: auto !important;
  text-decoration: none !important;
}

.gs-result .gs-title * {
  text-decoration: none !important;
  color: #9b000b !important;
}

.gs-webResult.gs-result a.gs-title:link {
  text-decoration: none !important;
}

.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:active  {
  text-decoration: underline !important;
  color: #9b000b !important;
}

.gs-webResult .gs-snippet {
  color: #5e5e5e !important;
}

.gs-webResult div.gs-per-result-labels {
  color: #5e5e5e !important;
}

.gs-webResult div.gs-per-result-labels a.gs-label {
  color: #5e5e5e !important;
}

.gsc-cursor-box.gs-bidi-start-align {
  text-align: center !important;
  padding: 10px 0 !important;
}

.gsc-cursor-page {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #749db4 !important;
  font-size: 125% !important;
  padding: 4px 10px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  text-decoration: none !important;
  color: #749db4 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:hover, .gsc-results .gsc-cursor-box .gsc-cursor-page:active {
  text-decoration: underline !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: #3a657e !important;
}

.gsc-tabHeader {
  padding: 15px !important;
}

.gsc-tabHeader.gsc-tabhActive {
  border-top-color: #336699 !important;
  border-left-color: #d8e0e5 !important;
  border-right-color: #d8e0e5 !important;
  color: #336699 !important;
  font-weight: bold;
}

.gsc-tabHeader.gsc-tabhInactive {
  background-color: #d8e0e5 !important;
  border-color: #d8e0e5 !important;
  color: #333 !important;
}

.gsc-tabsArea, .gsc-tabsArea > div {
  height: auto !important;
}

.gs-webResult.gs-result.gs-no-results-result {
  background: #3a657e url(../images/bang.gif) 15px center no-repeat !important;
  color: #fff !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    padding: 20px !important;
    margin: 0 0 10px 33px !important;
    border: 1px solid #89a3b2 !important;
    background-color: #feffae !important;
    color: #3a657e !important;
}
