/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */

.col {
  border:0 solid rgba(0,0,0,0);
  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box!important;
  -webkit-background-clip:padding-box!important;
  background-clip:padding-box!important
}

.container {
  width:90%;
  max-width:1120px;
  min-width:200px
}

.home .container {
  width: 100%;
  max-width: 1440px;
}

.hero {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.hero .slide {
  max-width: 1440px;
}



/* 1. 12 Column Grid 0px - 319px
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

@media screen and (min-width: 0px) and (max-width: 319px) {

  .nobg {
    background:#f0f0f0!important
  }

  #player-ad-square .ad300 {
    padding:0
  }

  .current-month h1 {
    font-size:1.8em
  }

  .full_width_mobile {
    width:100%
  }

  .tv_listings .ui-tabs-nav {
  /*word-wrap:break-word;*/
    font-size:80%
  }

  .fm .flex-control-nav,.tv .flex-control-nav {
    margin-top:-11px
  }

  #wrap .kids-slider {
    background:none
  }

  .flex-control-nav {
    margin-top:-5px
  }

  .slide-wrap {
    padding:0
  }

  .show-mobile {
    display:block
  }

  .mright_20 {
    margin-right:5px
  }

  .mleft_20 {
    margin-left:5px
  }

  ul.pager {
    text-align:center
  }

  .tv-guide .table_wrap {
    width:100%
  }

  .spec_event_symbol {
    right:0;
    left:auto
  }

  .quad_row {
    margin-right:0
  }

  .spec_ev {
    width:140px;
    margin:0 auto;
    float:none
  }

  .center-mobile {
    text-align:center
  }

  #cal_form .form-field {
    width:100%;
    clear:left
  }

  #cal_form .form-field input.textfield,#cal_form .form-field select {
    width:50%
  }

  .message_box_text_wrap p {
    margin-top:0
  }

  .message_box_text_wrap h3 {
    margin-bottom:0
  }

  .give_field {
    width:100%
  }

  .other_amount_label {
    position:static
  }

  .search-images input[type="text"] {
    width:65%
  }

  #wrap .fullwidth-banner {
    height:auto
  }

  #wrap .fullwidth_banner {
    padding:0 10px
  }

  .kids-banner {
    padding-bottom:140px;
    background:#fff url(../images/favorite-stars.jpg) 50% bottom no-repeat
  }

  header form input {
    font-size:1em
  }

  .cropped_banner img {
    display:block;
    width:100%;
    clear:left;
    visibility:visible
  }

  .fullwidth_banner {
    background:#fff
  }

  .calendar_table .first {
    display:none
  }

  .ui-tabs .ui-tabs-panel {
    padding:0
  }

  .calendar_table td p {
    width:90%
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  /*
    Add your semantic classnames in alongside their corresponding spans here. e.g.

    .span_3,
    .my_semantic_class_name {
    ...
    }
  */

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  .link_nav {
    width:100%
  }

  .flexslider {
    clear:left
  }

  /*.link_nav,*/
  .kids-logo {
    display:none
  }

  #logo_mobile {
    float:left;
    padding-bottom:10px
  }

  .tagline {
    padding-top:20px
  }

  header .span_2,header .span_5,#logo_mobile {
    width:49%;
    text-align:center
  }

  #logo_mobile {
    width:40%
  }

  header .span_2 img,header .span_5 img,#logo_mobile img {
    max-width:100%;
    float:none
  }

  #logo {
    display:none
  }

  #desktop_nav {
    display:none
  }

  #logo_mobile {
    display:block
  }

  #listen_live {
    margin-bottom:20px;
    font-size:1em
  }

  #mobile_nav_wrapper,#search_wrapper {
    display:block;
    width:50%;
    float:left;
    background:#3a657e;
    min-height:44px
  }

  #mobile_nav_wrapper {
    width:40%
  }

  #search_wrapper {
    width:60%
  }

  .menu_toggle {
    padding-left:20%!important
  }

  #listen_live {
    padding-left:22px!important
  }

  /* Padding */
  .p0-60 {
    padding:0 10px
  }

  .p60 {
    padding:10px
  }

  .p0-60-0-0 {
    padding-right:10px;
    padding-left:10px
  }

  #wrap .gutter {
    padding-left:10px
  }

  .p20-10-10 {
    padding:10px 0 5px
  }

  .p0-60-0-40 {
    padding:0 10px 0 5px
  }

  .p0-0-0-60 {
    padding:0 0 0 60px
  }

  .ptop40 {
    padding-top:4px
  }

  .p30 {
    padding:4px
  }

  .p20 {
    padding:4px
  }

  .p15 {
    padding:3px
  }

  .ml30 {
    margin-left:0
  }

  .p55 {
    padding:4px
  }

  .feature-row {
    padding:0 4px
  }

  #head_top .fltrt {
    float:none
  }

  .container {
    width:98%
  }

  .caption_wrapper {
    float:none;
    margin:4px auto
  }

  .social,.tagline,nav,.share_this,.top_banner {
    display:none
  }

  #mobile_nav {
    display:block
  }

  header .container,#subscribe_form,.mobile_center {
    text-align:center
  }

  #search_form {
    width:auto;
    position:static;
    float:none;
    margin:10px 0 0;
    display:block
  }

  .ad300 {
    margin:0 auto;
    float:none
  }

  .menu_toggle {
    display:block!important
  }

  .half-box {
    clear:left;
    margin:10px 0!important;
    width:100%
  }

  .half-box img {
    width:100%
  }

  .home .half-box img {
    display:none
  }

  .half-box .text_wrapper {
    padding:4px;
    clear:left;
    text-align:center;
    margin-left:0
  }

  form input {
    font-size:1.8em;
    padding:5px
  }

  header form input {
    width:50%;
    font-size:1em
  }

  #listen_live {
    width:70%;
    font-size:1em;
    left:-3px;
    padding-left:7px
  }

  #subscribe_form {
    margin-bottom:0
  }

  #subscribe_form .text_input {
    width:90%;
    max-width:none
  }

  #subscribe_form .button {
    margin-top:10px;
    padding:10px;
    font-size:1.5em
  }

  .imgleft,.imgright {
    width:100%
  }

  .subnav {
    display:none!important
  }

  #primary_nav_links {
    padding-left:0
  }

  .bottom_logos img {
    display:block;
    margin:0 auto
  }

  .bottom_logos .fltrt {
    float:none
  }

  .bottom_logos {
    text-align:center
  }

  footer .span_2 {
    border:none
  }

  .flexnav {
    width:100%;
    position:relative;
    left:0
  }

  .slide {
    padding-top:5px
  }

  #tweets {
    margin-top:30px
  }

  .adImg {
    padding:15px 0 20px
  }

  .ad300 {
    width:100%;
    float:left
  }

  .ad300 img {
    width:100%
  }

  #wrap .slide_captions {
    padding:15px;
    background:#f0f0f0
  }

  .flexslider {
    padding:7px 0 0
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  .mobile_center address {
    padding-bottom:18px
  }

  .grid-wrapper {
    overflow:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
  }

  .today-date {
    width:100%;
    float:none;
    margin:0;
    text-align:center
  }

  .scroll-bar-wrap {
    float:none;
    width:90%;
    display:none
  }

  #cal_form {
    float:none;
    width:100%
  }

  #calendar_date_chooser {
    width:100%;
    text-align:center
  }

  .current-month .dt {
    padding:0
  }

  .ui-tabs .ui-tabs-panel {
    padding:0!important
  }

  #search_form #search_field {
    height:6px;
    height:22px;
    padding:0 5px
  }

  header .submit_btn {
    height:24px
  }

  #cal_form .button {
    left:-8px
  }

  #toolbar {
    display:none
  }

  .simple_timeline ul {
    background-position: left;
  }

  .simple_timeline ul li {
    width: 100%;
  }

  .simple_timeline ul li:nth-child(odd) {
    background: rgba(58,101,126,0.1) url('/sites/all/modules/simple_timeline/img/ul-bg.png') bottom repeat-x;
    text-align: left;
  }

  .simple_timeline ul li:nth-child(even) {
    background: rgba(0,0,0,0.05) url('/sites/all/modules/simple_timeline/img/ul-bg.png') bottom repeat-x;
  }


  .simple_timeline ul li:nth-child(odd) > div {
    background-position: left;
    margin-left: -10px;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 0;
    float: left;
  }

  .simple_timeline ul li:nth-child(odd) > div .timeline-image {
    float:none;
   }

  #passport-cover {
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/passport_bg_final_sm2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #passport-cover .top_button {
    position: relative;
    margin-bottom: 20px;
  }

  #passport-cover p {
    font-size: 130%;
  }

  #passport-cover .note {
    position: relative;
  }
}

/* END 1. 12 Column Grid 0px - 319px */

/* 2. 12 Column Grid 320px - 479px
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

@media screen and (min-width: 320px) and (max-width: 479px) {

  #toolbar {
    display:none
  }

  #player-ad-square .ad300 {
    padding:0
  }

  .nobg {
    background:#f0f0f0!important
  }

  .video_wrapper object {
    width:290px;
    height:162px
  }

  .current-month h1 {
    font-size:1.8em
  }

  #cal_form .button {
    left:-8px
  }

  .full_width_mobile {
    width:100%
  }

  .tv_listings .ui-tabs-nav {
  /*word-wrap:break-word;*/
    font-size:70%
  }

  .fm .flex-control-nav,.tv .flex-control-nav {
    margin-top:-11px
  }

  #wrap .kids-slider {
    background:none;
    padding:0
  }

  .kid_wrap .flex-control-nav {
    margin-top:-14px
  }

  #wrap .kids-slider {
    padding-top:0
  }

  .flex-control-nav {
    margin-top:-5px
  }

  .hero .flexslider .slides {
    background: #F0F0F0;
  }

  .hero .flexslider .slides img {
    border-bottom: 5px solid #9c010c;
  }

  .hero .flex-caption {
    position: relative;
    clear:both;
    color: #5e5e5e;
    text-align: center;
    margin-top: 0;
  }

  .hero .caption-frame {
    border: none;
    background: transparent;
    margin-bottom: 0;
    padding-top: 0;
  }

  .hero .caption-frame-inner {
    display: block;
    position: relative;
    padding: 10px;
    text-align: left;
  }

  .hero .subtitle p {
    color: #557A90;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
  }

  .hero h2 {
    font-size: 2.5em;
    line-height: inherit;
    color: #000;
  }

  .hero p {
    color: inherit;
    font-size: inherit;
  }

  .hero .hero-links a {
    color: #9b000b;
    line-height: inherit;
    font-size: inherit;
  }

  .hero .hero-links a.video_preview, .hero .hero-links a.cove_player, .hero .hero-links a.mm_player {
    background: transparent url(../images/play_tiny_red.png) no-repeat left center;
  }

  .hero .flex-control-nav {
    display: none;
  }

  .slide-wrap {
    padding:0
  }

  #search_form #search_field {
    height:6px;
    height:22px;
    height:28px;
    padding:0 5px
  }

  .show-mobile {
    display:block
  }

  .mright_20 {
    margin-right:5px
  }

  .front .pane-panels-mini.pane-from-our-blogs {
    margin-top: 20px;
  }

  .mleft_20 {
    margin-left:5px
  }

  ul.pager {
    text-align:center
  }

  .tv-guide .table_wrap {
    width:100%;
    padding:4px
  }

  .spec_event_symbol {
    right:0;
    left:auto
  }

  #cal_form .button {
    margin-top:0
  }

  .spec_ev {
    width:140px;
    margin:0 auto;
    float:none
  }

  .center-mobile {
    text-align:center
  }

  #cal_form .form-field {
    width:100%;
    clear:left
  }

  #cal_form .form-field input.textfield,#cal_form .form-field select {
    width:50%
  }

  .message_box_text_wrap p {
    margin-top:0
  }

  .message_box_text_wrap h3 {
    margin-bottom:0
  }

  .give_field {
    width:100%
  }

  .other_amount_label {
    position:static
  }

  .search-images input[type="text"] {
    width:65%
  }

  #wrap .fullwidth-banner {
    height:auto
  }

  #wrap .fullwidth_banner {
    padding:0 10px
  }

  .kids-banner {
    padding-bottom:140px;
    background:#fff url(../images/favorite-stars.jpg) 50% bottom no-repeat
  }

  header .submit_btn {
    height:24px
  /*top: -1px;*/
  }

  header form input {
    font-size:1em
  }

  .cropped_banner img {
    display:block;
    width:100%;
    clear:left;
    visibility:visible
  }

  .fullwidth_banner {
    background:#fff
  }

  .calendar_table .first {
    display:none
  }

  .ui-tabs .ui-tabs-panel {
    padding:2px 5px
  }

  .calendar_table td p {
    width:90%
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  .link_nav {
    width:100%
  }

  /*.link_nav,*/
  .kids-logo {
    display:none
  }

  .split-slider .flexnav {
    width:100%;
    bottom:23px
  }

  .flexslider {
    padding:7px 0 0;
    clear:left
  }

  #logo_mobile {
    float:left;
    padding-bottom:10px
  }

  .show-mobile-inline {
    display:inline
  }

  .tagline {
    padding-top:20px
  }

  header .span_2,header .span_5,#logo_mobile {
    width:50%;
    text-align:center
  }

  header .span_2 img,header .span_5 img,#logo_mobile img {
    max-width:100%;
    float:none
  }

  #logo_mobile img {
    height:55px
  }

  #logo_mobile {
    padding-bottom:0
  }

  #logo {
    display:none
  }

  #desktop_nav {
    display:none
  }

  #logo_mobile {
    display:block;
    width:50%
  }

  #listen_live {
    margin-bottom:20px;
    padding-left:18px!important
  }

  #mobile_nav_wrapper,#search_wrapper {
    display:block;
    width:50%;
    float:left;
    background:#3a657e;
    min-height:44px
  }

  #mobile_nav_wrapper {
    width:40%
  }

  #search_wrapper {
    width:60%
  }

  .menu_toggle {
    padding-left:20%!important
  }

  /* Padding */
  .p0-60 {
    padding:0 10px
  }

  .ptop40 {
    padding-top:10px
  }

  .p60 {
    padding:10px
  }

  .p0-60-0-0 {
    padding-right:10px;
    padding-left:10px
  }

  .p20-10-10 {
    padding:10px 5px 5px
  }

  .p0-60-0-40 {
    padding:0 10px 0 5px
  }

  .p0-0-0-60 {
    padding:0 0 0 10px
  }

  #wrap .gutter {
    padding-left:10px
  }

  .p30 {
    padding:4px
  }

  .p20 {
    padding:4px
  }

  .p15 {
    padding:3px
  }

  .ml30 {
    margin-left:0
  }

  .p55 {
    padding:4px
  }

  .feature-row {
    padding:0 4px
  }

  #head_top .fltrt {
    float:none
  }

  .container {
    width:98%
  }

  .social,nav,.tagline,.share_this,.top_banner {
    display:none
  }

  #mobile_nav {
    display:block
  }

  header .container,#subscribe_form,.mobile_center {
    text-align:center
  }

  .caption_wrapper {
    float:none;
    margin:4px auto;
    display:block
  }

  #search_form {
    width:auto;
    position:static;
    float:none;
    margin:10px 0 0;
    display:block
  }

  .adCol {
    width:100%
  }

  .menu_toggle {
    display:block!important
  }

  .half-box {
    clear:left;
    margin:10px 0!important;
    width:100%
  }

  .half-box img {
    width:100%
  }

  .home .half-box img {
    display:none
  }

  .half-box .text_wrapper {
    padding:4px;
    clear:left;
    margin-left:0
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  form input {
    font-size:1.8em;
    padding:5px
  }

  header form input {
    width:50%;
    font-size:1em
  }

  #listen_live {
    width:70%;
    font-size:1.4em;
    left:-3px
  }

  #subscribe_form {
    margin-bottom:0
  }

  #subscribe_form .text_input {
    width:90%;
    max-width:none
  }

  #subscribe_form .button {
    margin-top:10px;
    padding:10px;
    font-size:1.5em
  }

  .imgleft,.imgright {
    width:100%
  }

  .subnav {
    display:none!important
  }

  #primary_nav_links {
    padding-left:0
  }

  header form input {
    width:70%;
    font-size:1em
  }

  #listen_live {
    width:70%;
    font-size:1em;
    left:-3px;
    padding-left:7px
  }

  .bottom_logos img {
    display:block;
    margin:0 auto
  }

  .bottom_logos .fltrt {
    float:none
  }

  .bottom_logos {
    text-align:center;
    padding-top:5%
  }

  footer .span_2 {
    border:none
  }

  .flexnav {
    width:100%;
    position:relative;
    left:0
  }

  .slide {
    padding-top:5px
  }

  #tweets {
    margin-top:30px
  }

  .adImg {
    padding:0
  }

  .ad300 {
    width:300px;
    margin:0 auto;
    float:none
  }

  #wrap .slide_captions {
    padding:15px;
    background:#f0f0f0
  }

  .flexslider {
    padding:7px 0 0
  }

  .mobile_center address {
    padding-bottom:18px
  }

  .today-date {
    width:100%;
    float:none;
    margin:0;
    text-align:center
  }

  .scroll-bar-wrap {
    float:none;
    width:90%;
    display:none
  }

  .grid-wrapper {
    overflow:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
  }

  .quad {
    width:100%;
    padding:0;
    border:none
  }

  .quad_row {
  /*border: none;*/
  }

  #cal_form {
    float:none;
    width:100%
  }

  #cal_form input {
    margin:10px
  }

  #calendar_date_chooser {
    width:100%;
    text-align:center
  }

  .current-month .dt {
    padding:0
  }

  .blue .play-overlay,.red .play-overlay,.green .play-overlay {
    background:url(../images/play-overlay_sq.png) center center no-repeat
  }

  .simple_timeline .play-overlay {
    top: -20px;
    left: -5px;
    width: 20px;
    height: 20px;
  }

  .simple_timeline ul {
    background-position: left;
  }

  .simple_timeline ul li {
    width: 100%;
  }

  .simple_timeline ul li:nth-child(odd) {
    background: rgba(58,101,126,0.1) url('/sites/all/modules/simple_timeline/img/ul-bg.png') bottom repeat-x;
    text-align: left;
  }

  .simple_timeline ul li:nth-child(even) {
    background: rgba(0,0,0,0.05) url('/sites/all/modules/simple_timeline/img/ul-bg.png') bottom repeat-x;
  }


  .simple_timeline ul li:nth-child(odd) > div {
    background-position: left;
    margin-left: -10px;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 0;
    float: left;
  }

  .simple_timeline ul li:nth-child(odd) > div .timeline-image {
    float:none;
   }

   #passport-cover {
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/passport_bg_final_sm2.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

   #passport-cover .top_button {
    position: relative;
    margin-bottom: 20px;
   }

   #passport-cover p {
    font-size: 130%;
   }

   #passport-cover .note {
    position: relative;
   }

}

/* END 2. 12 Column Grid 320px - 479px */

/* 3. 12 Column Grid 480px - 759px
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

@media screen and (min-width: 480px) and (max-width: 759px) {

  #toolbar {
    display:none
  }

  .flex-control-nav {
    margin-top:-5px
  }

  .home .flex-control-nav,.fm .flex-control-nav,.tv .flex-control-nav {
    margin-top:-11px
  }

  .slide-wrap {
    padding:0
  }

  .show-mobile {
    display:block
  }

  .cove_popup .mfp-iframe-scaler {
    padding-top:70%!important
  }

  .mright_20 {
    margin-right:10px
  }

  .mleft_20 {
    margin-left:10px
  }

  .current-month {
    min-width:400px
  }

  #cal_form .button {
    margin-top:-9px
  }

  .spec_ev {
    width:140px;
    margin:0 auto;
    float:none
  }

  .center-mobile {
    text-align:center
  }

  #cal_form .form-field {
    width:100%;
    clear:left
  }

  #cal_form .button {
    left:0
  }

  #cal_form .form-field input.textfield,#cal_form .form-field select {
    width:60%
  }

  .message_box_text_wrap p {
    margin-top:0
  }

  .message_box_text_wrap h3 {
    margin-bottom:0
  }

  .give_field {
    width:100%
  }

  .other_amount_label {
    position:static
  }

  .kids-banner {
    padding-bottom:140px;
    background:#fff url(../images/favorite-stars.jpg) 50% bottom no-repeat
  }

  header form input {
    font-size:1em
  }

  .cropped_banner img {
    display:block;
    visibility:visible;
    width:100%;
    clear:left
  }

  #wrap .fullwidth_banner {
    background:#fff;
    height:auto
  }

  .calendar_table .first {
    display:none
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  /* Padding */
  .p0-60 {
    padding:0 60px
  }

  .p60 {
    padding:60px
  }

  .p0-60-0-0 {
    padding-right:60px
  }

  .p0-60-0-40 {
    padding:0 60px 0 40px
  }

  .p0-0-0-60 {
    padding:0 0 0 60px
  }

  .p20-10-10 {
    padding:20px 10px 10px
  }

  .ptop40 {
    padding-top:40px
  }

  .p55 {
    padding:55px
  }

  .p30 {
    padding:30px
  }

  .p15 {
    padding:15px
  }

  .p20 {
    padding:20px
  }

  .ml30 {
    margin-left:0
  }

  .feature-row {
    padding:0 10px
  }

  .container {
    width:98%
  }

  .social,nav,.share_this,.top_banner {
    display:none
  }

  #mobile_nav {
    display:block
  }

  #subscribe_form {
    margin-bottom:0
  }

  .caption_wrapper {
    float:none;
    margin:4px auto;
    display:block
  }

  header .container,#subscribe_form,.mobile_center {
    text-align:center
  }

  #head_top .fltrt {
    float:none
  }

  #search_form {
    width:auto;
    position:static;
    float:none;
    margin:10px 0 0;
    display:block
  }

  #listen_live {
    width:40%;
    left:0;
    padding-left:7px
  }

  .ad300 {
    margin:0 auto;
    float:none
  }

  .adCol {
    width:100%
  }

  .menu_toggle {
    display:block!important;
    width:140px!important;
    padding:10px 0 0 30%!important
  }

  /*
  .half-box {
    clear: left;
    margin: 10px 0 !important;
    width: 100%;
    }
    #tweets {
    width: 40%;
    margin: 25px 30% 0;
    }
  */

  .home .half-box img {
    display:none
  }

  .half-box img {
    width:100%
  }

  .half-box .text_wrapper {
    padding:4px;
    margin-left:0;
    clear:left
  }

  .half-box .text_wrapper {
    padding:4px
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  .subnav {
    display:none!important
  }

  #primary_nav_links {
    padding-left:0
  }

  header form input {
    width:50%;
    font-size:1em
  }

  #listen_live {
    width:70%;
    font-size:1.4em;
    left:-3px
  }

  .bottom_logos img {
    display:block;
    margin:0 auto
  }

  .bottom_logos .fltrt {
    float:none
  }

  .bottom_logos {
    text-align:center;
    padding-top:5%
  }

  footer .span_2 {
    border:none
  }

  .flexnav {
    width:100%;
    position:relative;
    left:0
  }

  .hero .flexslider .slides {
    background: #F0F0F0;
  }

  .hero .flexslider .slides img {
    border-bottom: 5px solid #9c010c;
  }

  .hero .flex-caption {
    position: relative;
    clear:both;
    color: #5e5e5e;
    text-align: center;
    margin-top: 0;
  }

  .hero .caption-frame {
    border: none;
    background: transparent;
    margin-bottom: 0;
    padding-top: 0;
  }

  .hero .caption-frame-inner {
    display: block;
    position: relative;
    padding: 10px;
    text-align: left;
  }

  .hero .subtitle p {
    color: #557A90;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
  }

  .hero h2 {
    font-size: 2.5em;
    line-height: inherit;
    color: #000;
  }

  .hero p {
    color: inherit;
    font-size: inherit;
  }

  .hero .hero-links a {
    color: #9b000b;
    line-height: inherit;
    font-size: inherit;
  }

  .hero .hero-links a.video_preview, .hero .hero-links a.cove_player, .hero .hero-links a.mm_player {
    background: transparent url(../images/play_tiny_red.png) no-repeat left center;
  }

  .hero .flex-control-nav {
    display: none;
  }

  .slide {
    padding-top:5px
  }

  #wrap .slide_captions {
    padding:15px;
    background:#F0F0F0
  }

  #tweets {
    margin-top:30px
  }

  .mobile_center address {
    padding-bottom:18px
  }

  .grid-wrapper {
    overflow:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
  }

  .today-date {
    width:100%;
    float:none;
    margin:0;
    text-align:center
  }

  .scroll-bar-wrap {
    float:none;
    width:90%
  }

  #cal_form {
    float:none;
    width:100%
  }

  #calendar_date_chooser {
    width:100%;
    text-align:center
  }

  .blue .play-overlay,.red .play-overlay,.green .play-overlay {
    background:url(../images/play-overlay_sq_sm.png) center center no-repeat
  }

  #passport-cover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.2)),
    url('../images/passport_bg_final_sm2.jpg') no-repeat center center scroll;
  }


}

/* END 3. 12 Column Grid 480px - 759px */

/* 4. 12 Column Grid 760px - 959px
      12 Column Grid 500px -959px
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

/* @media screen and (min-width: 760px) and (max-width: 959px) { */

@media screen and (min-width: 500px) and (max-width: 959px) {

  #player-ad-square .ad300 {
    padding:0 15px
  }

  form input[type="text"],form input[type="password"] {
    width:55%
  }

  #schedule_nav span {
    left:17%
  }

  /* Magnific lightbox */
  #roadblock {
    width:80%!important;
    margin:auto;
    position:relative
  }

  .cove_popup .mfp-iframe-scaler {
    padding-top:74%!important
  }

  .jw_popup_box {
    width:80%!important;
    margin:auto;
    position:relative
  }

  .links {
    font-size:85%
  }

  .pane-block-25 h1 {
    font-size:1.8em!important
  }

  .slide-wrap {
    padding:0
  }

  h2.gray {
    font-size:1.5em;
    line-height:1.2
  }

  .mright_20 {
    margin-right:10px
  }

  .front .pane-panels-mini.pane-from-our-blogs {
    margin-top: 20px;
  }

  .mleft_20 {
    margin-left:10px
  }

  .fullwidth_banner h1 {
    margin-top:22px
  }

  .current-month {
    min-width:400px
  }

  .home .flex-caption {
  /*padding-bottom: 57px;*/
  }

  .container .afterAd {
    width:100%;
    padding-top:20px
  }

  .img_lt p,.img_lt h3 {
    margin-left:0
  }

  .img_lt h3 {
    clear:left
  }

  .img_lt img {
    margin-bottom:5px
  }

  .block_head h2,.block_head p {
    margin-left:11px;
    clear:left
  }

  .message_box_text_wrap p {
    margin-top:0
  }

  .message_box_text_wrap h3 {
    margin-bottom:0;
    margin-top:0
  }

  .message_box_text_wrap {
    padding:5px 0 10px 75px
  }

  .give_field {
    width:100%
  }

  .other_amount_label {
    position:static
  }

  .search-images {
    width:100%
  }

  .search-images input[type="text"] {
    width:60%
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  /* Padding */
  .p0-60 {
    padding:0 60px
  }

  .cal_wrap {
    padding:0 40px!important
  }

  .p60 {
    padding:60px
  }

  .p0-60-0-40 {
    padding:0 60px 0 40px
  }

  .p0-60-0-0 {
    padding-right:60px
  }

  .p0-0-0-60 {
    padding:0 0 0 60px
  }

  .p20-10-10 {
    padding:20px 10px 10px
  }

  .p55 {
    padding:10px
  }

  .p30 {
    padding:10px
  }

  .p20 {
    padding:20px
  }

  .p15 {
    padding:15px
  }

  .ptop40 {
    padding-top:40px
  }

  .social {
    display:none
  }

  #head_top a {
    margin:0 auto;
    width:170px
  }

  nav li a {
    padding:14px 7px
  }

  /*
  .half-box {
    clear: left;
    margin: 10px 0 !important;
    width: 100%;
    }


  #tweets {
    width: 40%;
    margin: 25px 30% 0;
    }
  */

  #tweets {
    margin-top:40px
  }

  .half-box img {
    width:100%
  }

  .home .half-box img {
    display:none
  }

  .half-box .text_wrapper {
    padding:4px;
    margin-left:0;
    clear:left
  }

  .half-box .text_wrapper {
    padding:4px
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  .half-box {
    clear:left;
    margin:10px 0!important;
    width:100%
  }

  #tweets {
    clear:left;
    width:100%;
    padding:20px
  }

  #sub_nav_logo {
    display:none
  }

  .subnav ul {
    padding:8px 0 4px
  }

  .about_wrap .subnav .content ul {
    padding:8px 1% 4px
  }

  .tv_wrap .subnav .content ul {
    padding:8px 5% 4px 8px
  }

  #primary_nav_links {
    padding-left:70px;
    font-size:120%
  }

  #listen_live {
    width:52%
  }

  .bottom_logos img {
    display:block;
    margin:0 auto
  }

  .bottom_logos .fltrt {
    float:none
  }

  .bottom_logos {
    text-align:center
  }

  .flexnav {
    bottom:10px
  /*bottom: auto;
    top: 187px;
    left: 0;
    right: auto;
    width: 50%;*/
  }

  .ad300 {
    margin:0 auto;
    float:none
  }

  .adCol {
    width:100%
  }

  .adMid {
    clear:left;
    width:50%;
    padding-right:10px
  }

  .adLast {
    width:50%;
    padding-left:10px
  }

  /*
  .flexnav {
    width: 100%;
    position: relative;
    left: 0;
    }

  .slide {
    padding-top: 5px;
    }

  .flexslider .span_6,
  .flexslider .span_5 {
    width: 100%;
    }

  #wrap .slide_captions {
    padding: 0;
    }
  */

  #whatson,.widequote {
    width:100%
  }

  #whatson {
    padding-bottom:0;
    padding-top:0
  }

  .adCol {
    padding-bottom:0;
    padding-top:0
  }

  .fm .flexnav {
    bottom:-80px;
    width:50%;
    bottom:3px
  }

  .flexslider {
    padding-right:0;
  /*padding-bottom: 50px;*/
    height:260px
  }

  .kids-slider,.split-slider {
    height:auto
  }

  .slides {
    position:relative
  }

  #wrap .slide_captions {
    padding-left:20px
  }

  .hero .flexslider .slides {
    background: #F0F0F0;
  }

  .hero .flexslider .slides img {
    border-bottom: 5px solid #9c010c;
  }

  .hero .flex-caption {
    position: relative;
    clear:both;
    color: #5e5e5e;
    text-align: center;
    margin-top: 0;
  }

  .hero .caption-frame {
    border: none;
    background: transparent;
    margin-bottom: 0;
    padding-top: 0;
  }

  .hero .caption-frame-inner {
    display: block;
    position: relative;
    padding: 10px;
    text-align: left;
  }

  .hero .subtitle p {
    color: #557A90;
    font-weight: bold;
    font-size: inherit;
    margin: 0;
  }

  .hero h2 {
    font-size: 2.5em;
    line-height: inherit;
    color: #000;
  }

  .hero p {
    color: inherit;
    font-size: inherit;
  }

  .hero .hero-links a {
    color: #9b000b;
    line-height: inherit;
    font-size: inherit;
  }

  .hero .hero-links a.video_preview, .hero .hero-links a.cove_player, .hero .hero-links a.mm_player {
    background: transparent url(../images/play_tiny_red.png) no-repeat left center;
  }

  .hero .flex-control-nav {
    display: none;
  }

  #logo {
    width:100%
  }

  .grid-wrapper {
    overflow:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
  }

  .quad {
    width:100%;
    padding:0;
    border:none
  }

  #cal_form {
    float:none;
    width:100%
  }

  /* Switch to smaller play button for this breakpoint. Jess 10/24/2014 */
  .play-overlay {
    background:url(../images/play-overlay_sq_sm.png) center center no-repeat
  }

  .simple_timeline .play-overlay {
    top: -43px;
    left: -33px;
  }

  .node-bracket-match .form-item-submitted-options.span_5 {
    width: 100%;
  }

  .full_width_promo .span_8, .full_width_promo .span_4 {
    width: 100%;
  }

  #passport-cover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.2)),
    url('../images/passport_bg_final_sm2.jpg') no-repeat center center scroll;
  }

}

@media screen and (min-width: 500px) and (max-width: 765px) {
  .play-overlay {
    background:url(../images/play-overlay_sq.png) center center no-repeat
  }

  .screenshot {
    top:83%
  }
}
/* END 4. 12 Column Grid 760px - 959px
          12 Column Grid 500px -959px */

/* 5. 12 Column Grid 960px - 1119px
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

@media screen and (min-width: 960px) and (max-width: 1119px) {

  form input[type="text"],form input[type="password"] {
    width:55%
  }

  /* Magnific lightbox */
  #roadblock {
    width:70%!important;
    margin:auto;
    position:relative
  }

  .jw_popup_box {
    width:70%!important;
    margin:auto;
    position:relative
  }

  .cove_popup .mfp-iframe-scaler {
    padding-top:68%!important
  }

  .channel_select {
    clear:left
  }

  .feature-row .ad300 {
    margin:0 auto;
    float:none
  }

  .feature-row .adCol {
    width:100%
  }

  .feature-row .adMid {
    clear:left;
    width:50%;
    padding-right:10px
  }

  .feature-row .adLast {
    width:50%;
    padding-left:10px
  }

  .fullwidth_banner h1 {
    margin-top:22px
  }

  .container .afterAd.pane-quicktabs-what-s-on-widget-tv-landing-page {
  /*width: 100%;*/
    padding-left:20px
  }

  .give_field {
    width:100%
  }

  .other_amount_label {
    position:static
  }

  .search-images {
    width:100%
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  footer .span_2 {
    width:22%
  }

  footer .span_5 {
    width:39%
  }

  /* Padding */
  .p0-60 {
    padding:0 60px
  }

  .width-adjust {
    width:61%
  }

  .p60 {
    padding:60px
  }

  .p0-60-0-40 {
    padding:0 60px 0 40px
  }

  .p0-60-0-0 {
    padding-right:60px
  }

  .p0-0-0-60 {
    padding:0 0 0 60px
  }

  .p20-10-10 {
    padding:20px 10px 10px
  }

  .p55 {
    padding:25px
  }

  .p30 {
    padding:15px
  }

  .p20 {
    padding:20px
  }

  .p15 {
    padding:15px
  }

  .ptop40 {
    padding-top:40px
  }

  nav li a {
    padding:14px
  }

  /*
  .half-box {
    clear: left;
    margin: 10px 0 !important;
    width: 100%;
    }

  #tweets {
    width: 40%;
    margin: 25px 30% 0;
    }
  */

  #tweets {
    margin-top:40px
  }

  .half-box img {
    display:none
  }

  .half-box .format.classical img {
    display:block
  }

  .half-box .text_wrapper {
    padding:4px;
    margin-left:0;
    clear:left
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  .subnav ul {
    padding:8px 0 4px
  }

  .subnav-kids ul {
    padding:8px 5% 4px 9px
  }

  .tv_wrap .subnav .content ul {
    padding:8px 10% 4px 15px
  }

  .fm .subnav ul {
    padding:8px 5% 4px 9px
  }

  .support_wrap .subnav .content ul {
    padding:8px 3% 4px 9px
  }

  .about_wrap .subnav .content ul {
    padding:8px 3% 4px
  }

  #primary_nav_links {
  /*padding-left: 0;*/
  }

  .flexnav {
    bottom:10px
  }
/*
  .hero .caption-frame-inner {
    padding: 10px 100px 60px;
  }
*/

  /*
  .ad300 {
    margin: 0 auto;
    float: none;
    }

  .adCol {
    width: 100%;
    }

  .adMid {
    clear: left;
    width: 50%;
    padding-right: 10px;
    }

  .adLast {
    width: 50%;
    padding-left: 10px;
    }
  */

  #whatson,.widequote {
    width:100%
  }

  #whatson {
    padding-bottom:0;
    padding-top:0
  }

  .adCol {
    padding-bottom:0;
    padding-top:0
  }

  .fm .flexnav {
    bottom:-100px
  }

  .flexslider {
    padding-right:0;
    padding-bottom:50px;
    height:220px
  }

  h2.gray {
    font-size:1.5em
  }

  #wrap .slide_captions {
    padding-left:22px
  }

  .grid-wrapper {
    overflow:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch
  }

  .quad {
    width:100%;
    padding:0;
    border:none
  }

  #cal_form {
    float:none;
    width:100%
  }

  .node-bracket-match .form-item-submitted-options {
    width: 100%;
  }

  #passport-cover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.2)),
    url('../images/passport_bg_final_sm2.jpg') no-repeat center center scroll;
  }
}

/* END 5. 12 Column Grid 960px - 1119px */

/* 6. 12 Column Grid 1120px - Infinity
-----------------------------------------------------------------------------

Span 1:    8.33333333333%
Span 2:    16.6666666667%
Span 3:    25.0%
Span 4:    33.3333333333%
Span 5:    41.6666666667%
Span 6:    50.0%
Span 7:    58.3333333333%
Span 8:    66.6666666667%
Span 9:    75.0%
Span 10:    83.3333333333%
Span 11:    91.6666666667%
Span 12:    100%

-----------------------------------------------------------------------------
*/

@media screen and (min-width: 1120px) {

  #wrap .slide_captions {
    padding:0 0 0 60px
  }

  /* Magnific lightbox */
  #roadblock {
    width:70%!important;
    margin:auto;
    position:relative
  }

  .cove_popup .mfp-iframe-scaler {
    padding-top:68%!important
  }

  .jw_popup_box {
    width:70%!important;
    margin:auto;
    position:relative
  }

  .current-month {
    margin-left:72px
  }

  .money {
    border-top:1px solid #AAC2D0;
    clear:left
  }

  .col {
    margin-left:0;
    padding:0
  }

  .row .col:first-child {
    margin-left:0
  }

  .span_1 {
    width:8.33333333333%
  }

  .span_2 {
    width:16.6666666667%
  }

  .span_3 {
    width:25%
  }

  .span_4 {
    width:33.3333333333%
  }

  .span_5 {
    width:41.6666666667%
  }

  .span_6 {
    width:50%
  }

  .span_7 {
    width:58.3333333333%
  }

  .span_8 {
    width:66.6666666667%
  }

  .span_9 {
    width:75%
  }

  .span_10 {
    width:83.3333333333%
  }

  .span_11 {
    width:91.6666666667%
  }

  .span_12 {
    margin-left:0;
    width:100%
  }

  footer .span_2 {
    width:22%
  }

  footer .span_5 {
    width:39%
  }

  /* Padding */
  .p0-60 {
    padding:0 60px
  }

  .ptop40 {
    padding-top:40px
  }

  .p60 {
    padding:60px
  }

  .p55 {
    padding:55px
  }

  .p0-60-0-40 {
    padding:0 60px 0 40px
  }

  .p0-60-0-0 {
    padding-right:60px
  }

  .p0-0-0-60 {
    padding:0 0 0 60px
  }

  .p20-10-10 {
    padding:20px 10px 10px
  }

  .p20-60-10 {
    padding:20px 60px 10px 0
  }

  .p30 {
    padding:15px
  }

  .p20 {
    padding:7px 30px
  }

  .p15 {
    padding:15px
  }

  #whatson {
    margin-top:-200px;
    margin-bottom:20px;
    padding:7px 43px 7px 30px
  }
}

.container {
  position:relative;
/*width: 1120px;*/
  margin:0 auto;
  padding:0;
  min-width:300px
}

@media screen and (min-width: 768px) and (max-width: 959px) {

  .container {
  /*width: 768px;*/
  }

  .fm .subnav ul {
    padding:8px 0 4px 4px
  }

  .span_3,.img_box {
    width:49%
  }

  .front .pane-classical-news-classical-news-ticker .span_3, .front .pane-classical-news-classical-news-ticker .span_8 {
    width: 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1129px) {

  .container {
  /*width: 960px;*/
  }
}

@media screen and (min-width: 1130px) {

  .container {
  /*width: 1130px;*/
  }
}

@media only screen and (max-width: 767px) {

  .home #wrap .flex-direction-nav a {
    display:none
  }

  #wrap .split-slider {
    width:100%;
    padding:0
  }

  #kids-intro {
    padding:0
  }

  .slide {
    padding-top:0
  }

  .search-images {
    width:80%;
    display:block
  }

  .container {
  /*width: 300px;*/
  }

  .span_1,.span_2,.span_3,.span_3,.span_4,.span_5,.span_6,.span_7,.span_7,.span_8,.span_9,.span_10,.span_11,.span_12 {
    margin-left:0;
    width:100%
  }

  .mob50 {
    width:50%
  }

  /* Padding */
  .p0-60 {
    padding:0 10px
  }

  .ptop40 {
    padding-top:10px
  }

  .p60 {
    padding:10px
  }

  .p0-60-0-40 {
    padding:0 10px 0 5px
  }

  .p0-60-0-0 {
    padding-right:10px
  }

  .p0-0-0-60 {
    padding-left:30px
  }

  .p20-10-10 {
    padding:15px 5px 2px
  }

  .p55 {
    padding:4px
  }

  .p30 {
    padding:4px
  }

  .p20 {
    padding:4px
  }

  .p15 {
    padding:3px
  }

  .feature-row {
    padding:0
  }

  .container {
    width:98%
  }

  #wrap .kids-logo {
    width:100%
  }

  #wrap .link_nav,#wrap .kids-logo {
    display:block;
    width:100%!important
  }

  #wrap .link_nav .links {
    font-size:100%!important
  }

  #wrap .link_nav .links ul {
    clear:both
  }

  #wrap .kids-logo img {
    float:left;
    margin:0 1em 1em 0
  }

  #wrap .kids-slider {
    width:100%
  }
}

@media only screen and (min-width: 760px) and (max-width: 767px) {

  .search-images {
    width:80%;
    display:block
  }

  .home #wrap .flex-direction-nav a {
    display:none
  }
}

@media only screen and (min-width: 760px) and (max-width: 768px) {

  #wrap .fullwidth_banner,#wrap .cropped_banner {
    width:100%
  }

  #wrap .fullwidth_banner {
    padding:0 10px
  }

  #wrap .fullwidth-banner {
    height:auto!important
  }

  .cropped_banner img {
    display:block;
    visibility:visible;
    width:100%;
    clear:left
  }

  #wrap .fullwidth_banner {
    background:#fff;
    width:100%
  }
}

/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .nobg {
    background:#f0f0f0!important
  }

  .home #wrap .flex-direction-nav a {
    display:none
  }

  .kid_wrap .flex-control-nav {
    margin-top:-14px
  }

  #wrap .slide_captions {
    background:#F0F0F0
  }

  .search-images {
    width:80%;
    display:block
  }

  #wrap .fullwidth-banner {
    height:auto
  }

  #wrap .fullwidth_banner {
    padding:0 10px
  }

  .container {
  /*width: 420px;*/
  }

  .span_1,.span_2,.span_3,.span_3,.span_4,.span_5,.span_6,.span_7,.span_7,.span_8,.span_9,.span_10,.span_11,.span_12 {
    margin-left:0;
    width:100%
  }

  .front .view-id-now_playing.span_4 {
    width: 49%;
  }

  .front .view-id-now_playing .divider1.show-mobile {
    display: none;
  }

  .mob50 {
    width:50%
  }

  .flexslider {
    padding:0!important;
    clear:left
  }

  .kids-slider {
    padding:0!important
  }

  .span_3,.img_box {
    width:49%
  }

  .front .pane-classical-news-classical-news-ticker .span_3 {
    width: 100%;
  }

  .show-mobile-inline {
    display:inline
  }

  .link_nav {
    width:100%
  }

  /*.link_nav,*/
  .kids-logo {
    display:none
  }

  #logo_mobile {
    float:left;
    padding-bottom:10px
  }

  .tagline {
    padding-top:20px
  }

  header .span_2,header .span_5,#logo_mobile {
    width:33%;
    text-align:center
  }

  header .span_2 img,header .span_5 img,#logo_mobile img {
    max-width:100%;
    float:none
  }

  #logo {
    display:none
  }

  #desktop_nav {
    display:none
  }

  #logo_mobile {
    display:block
  }

  #listen_live {
    margin-top:20px
  }

  #mobile_nav_wrapper,#search_wrapper {
    display:block;
    width:50%;
    float:left;
    background:#3a657e;
    min-height:44px
  }

  /* Padding */
  .p0-60 {
    padding:0 30px
  }

  .p60 {
    padding:30px
  }

  .p0-60-0-40 {
    padding:0 30px 0 20px
  }

  .p0-60-0-0 {
    padding-right:30px;
    padding-left:30px
  }

  .p0-0-0-60 {
    padding:0 0 0 30px
  }

  .p20-10-10 {
    padding:10px 5px 5px
  }

  .ptop40 {
    padding-top:20px
  }

  .p55 {
    padding:20px
  }

  .p30 {
    padding:15px
  }

  .p15 {
    padding:7px
  }

  .p20 {
    padding:10px
  }

  .container {
    width:98%
  }

  .social,.tagline {
  }

  nav {
    display:none
  }

  #mobile_nav {
    display:block
  }

  header .container,#subscribe_form,.mobile_center {
    text-align:center
  }

  #head_top .fltrt {
    float:none
  }

  #search_form {
    width:auto;
    position:static;
    float:none;
    margin:7px 0 0;
    display:block
  }

  .half-box {
    clear:left;
    margin:10px 0!important;
    width:100%
  }

  .home .half-box img {
    display:none
  }

  .half-box .text_wrapper {
    padding:5px 20px
  }

  header form input {
    width:70%;
    font-size:1em
  }

  #listen_live {
    width:127px;
    font-size:1em
  }

  .flexnav {
    width:100%;
    position:relative;
    left:0
  }

  .slide {
  }

  .fm .flexnav {
    bottom:23px;
    width:100%
  }

  #logo {
    width:auto
  }
}

/* END #Mobile (Landscape) */

/* Self Clearing Goodness */
.container:after {
  content:"\0020";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,.clearfix:after,.row:before,.row:after {
  content:'\0020';
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0
}

.row:after,.clearfix:after {
  clear:both
}

.row,.clearfix {
  clear: both;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0
}

@media only screen and (min-width: 959px) and (max-width: 1119px) {

  .adMid,.adLast {
    padding:0 10px 15px;
    width:32%
  }

  .adMid {
    padding-left:40px
  }
}

@media only screen and (max-width: 1024px) {

  #wrap .full_width_heading {
    font-size:2.3em
  }

  .fm .subnav ul {
    padding:8px 3% 4px 9px
  }

  .support_wrap .subnav .content ul {
    padding:8px 0 4px 9px;
    max-width:160px
  }

  .kids-banner-main h2 {
    font-size:1.4em
  }

  .links {
    padding:8px 20px
  }

  .half-box img {
    display:none
  }

  .flex-caption {
    padding-top:0
  }

  .flex-caption h5 {
    margin-top:0
  }

  .half-box {
  /*clear: left;*/
    margin:10px 0!important
  /*width: 100%;*/
  }

  #tweets {
  /*clear: left;*/
  /*width: 100%;*/
    padding:20px
  }

  .pane-block-25 h1 {
    font-size:2.1em
  }

}

@media screen and (max-width: 1250px) {

  nav li a {
    padding:14px 24px 5px
  }

  header #search_field {
    width:65%
  }
}


@media screen and (max-width: 1150px) {

  nav li a {
    padding:14px 20px 5px
  }

  #primary_nav_links {
    font-size:120%
  }

  .channel_select {
    clear:left
  }
}

@media screen and (max-width: 1050px) {

  nav li a {
    padding:14px 15px 5px
  }

  header #search_field {
    width:55%
  }
}

@media screen and (max-width:950px) {

  #primary_nav_links {
    font-size:110%
  }
}

@media screen and (max-width: 880px) {
  #primary_nav_links {
    font-size:95%
  }
}

@media screen and (max-width:850px) {

  nav li a {
    padding:14px 10px 5px
  }
}

@media screen and (min-width:767px) {

  .flex-control-nav {
    margin-left:40px
  }

  .node-slideshow .flex-control-nav {
    margin-left: 0px;
  }

  #wrap .flex-direction-nav a {
    opacity:1
  }

  #kids-intro .flex-direction-nav {
    opacity:0
  }

  .fm .flex-direction-nav {
    opacity:0
  }

  #kids-intro .flex-control-nav {
    margin-left:0
  }

  .fm .flex-control-nav,.about .flex-control-nav {
    margin-left:0
  }
}


.responsive-lightbox .mfp-content {
  max-width: 900px;
  height: 100%;
}

.mfp-close-btn-in.responsive-lightbox .mfp-close {
  font-size: 44px;
  top: -40px;
  right: -10px;
  color: #999;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {

  .fm .subnav ul,.tv .subnav ul {
  /*width: 19%;
          padding: 10px 0;*/
  }

  .fm .subnav ul.radio,.tv .subnav ul.radio {
    width:20%
  }

  header .header_tv ul.radio li {
    padding-left:10px
  }

  .cal .subnav ul {
    width:24%;
    padding:10px 0
  }

  .index_hub .subnav ul {
    width:24%;
    width:100%;
    padding:10px 0
  }

  .responsive-lightbox .mfp-content {
    height: 100%;
    max-height: 430px;
  }
}
