/* lte ie8 */


	
.container {
	width: 1120px;
	}
	

        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:8.33333333333%;
        }
        .span_2 {
            width:16.6666666667%;
        }
        .span_3 {
            width:25.0%;
        }
        .span_4 {
            width:33.3333333333%;
        }
        .span_5 {
            width:41.6666666667%;
        }
        .span_6 {
            width:50.0%;
        }
        .span_7 {
            width:58.3333333333%;
        }
        .span_8 {
            width:66.6666666667%;
        }
        .span_9 {
            width:75.0%;
        }
        .span_10 {
            width:83.3333333333%;
        }
        .span_11 {
            width:91.6666666667%;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
        
        
        footer .span_2 {
        	width: 22%
        	}
        	
        footer .span_5 {
        	width: 39%;
        	}
        	
        	/* Padding */

.p0-60 {
	padding: 0 60px;
	}
	
.p60 {
	padding: 60px;
	}
	
.p0-60-0-40 {
	padding: 0 60px 0 40px;
	}	
	
.p0-60-0-0 {
	padding-right: 60px;
	}
	
.p20-10-10 {
	padding:  20px 10px 10px;
	}	

.p30 {
    padding: 30px;	
    }    
       
.p20 {
	padding: 20px;
	}    

	
.half-box .text_wrapper {
	padding: 4px;
	}	
	
.subnav ul {
	padding: 8px 20px 4px;
	width: 70%;
	}
	
#primary_nav_links {
	padding-left: 0;
	}	

.flexnav {
	bottom: -4px;
	}	
	
#primary_nav_links {
	padding-left: 70px;
	}

.grid,
.grid ul  {
	width: 5860px;
	}
	
.p0-0-0-60 {
	padding: 0 0 0 60px;
	}	
	
#whatson {
	margin-top: -250px;
	}