/* ie7 */
  
 header .submit_btn,
 #search_form .form-submit,
 header #search_field { 
border: none !important;
 }
 
header #search_form {
	width: 98%;
	border: 1px solid #ccc;
	
	}
        
        .col {
            margin-left:0%;
        	padding:0 0%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        
        .span_1 {
            width:93px;
        }
        .span_2 {
            width: 186px;
        }
        .span_3 {
            width:220px;
        }
        .span_4 {
            width:280px;
        }
        .span_5 {
            width:400px;
        }
        .span_6 {
            width:500px;
        }
        .span_7 {
            width:600px;
        }
        .span_8 {
            width:650px;
        }
        .span_9 {
            width:700px;
        }
        .span_10 {
            width:900px;
        }
        .span_11 {
            width:1000px;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
        
        
        footer .span_2 {
        	width: 22%
        	}
        	
        footer .span_5 {
        	width: 39%;
        	}
        
        /* Padding */

.p0-60 {
	padding: 0 60px;
	}
	
.p60 {
	padding: 60px;
	}
	
.p0-60-0-40 {
	padding: 0 60px 0 40px;
	}
	
.p0-60-0-0 {
	padding-right: 60px;
	}
	
.p20-10-10 {
	padding:  20px 10px 10px;
	}	

.p30 {
    padding: 30px;	
    }    
       
.p20 {
	padding: 20px;
	}       

 .feature-row {
	padding: 0 4px;
	}

#whatson {
	margin-top: -135px;
	}
	
	
.home nav li a:hover {
	height: 55px;
	}
	
.home section {
	top: 0;
	}
	
	
.p0-0-0-60 {
	padding: 0 0 0 60px;
	}	

#wrap .split-slider,
#wrap .kids-slider {	
	width: 70%;
	}
	
.support_wrap .slide_captions,
.tv_wrap  .slide_captions,
.fm_wrap .slide_captions {
	padding: 0 0 0 60px;
	width: 30% !important;
	}
	
#kids-intro .kids-slider .slide_captions {
	width: 28% !important;
	}
	
.gutter {
	width: 40%;
	}

.subnav-home .advert {
 	height: 100px;
	}
	
#donate_nav_sub {
	z-index: 0;
	}
      
.foot_col ul li,
.links li,
.sidenav li,
.box-list li {	
    list-style-image: none;
    }
    
footer .span_5 {
	width: 35%;
	}
	

.feature-row .span_4 {
width: 30%;
}
	
#desktop_nav .span_11 {
	height: 55px;
	}
	
.kids-on-now {
	width: 37% !important;
	}
	
.p20-10-10 {
padding: 20px 10px 10px;
}

.feature-row {
	padding:0 55px;
	}
	
.sm_icons .span_6 {
width: 50.0%;
}


.list_box h2 {
	clear: left;
}
	
header .submit_btn,
#search_form .form-submit {
	text-indent: -9999px;
	text-transform: uppercase;
	}
	
.border-box {
	position: static;
	}
	
.container {
	overflow: hidden;
	}
	
.today-date {
	margin: 0;
	}
	
.channel-guide {
	width: 85%;
	}
	
#player-ad-square {
		background: #fff;
	}	
	
.ll-player-wrap {
	margin-top: -25px;
	}
	
.ll-player-wrap .span_5,
.ll-player-wrap .span_7 {
	width: 50%;
	}
	
#ll-player .p10 {
	clear: both;
	}
	
.share_label {
	display: inline;
	}
	
.index_hub .span_6,
.feature-row .span_6 {
	width: 39%;
	} 
	
.border-box .span_6  {
	width: 48%;
	}
	
.pager-prev,
.pager-next {
	list-style-image: none;
	list-style: none;
	display: inline !important;
	}
	
#wrap .tabs4 li {
	width: 22%;
	}
	
#wrap .tabs2 li  {
	width: 48%;
	}
	
.vol-symbol {	
	margin-top: 7px;
	}
	
.kids-banner {
	border: 1px solid transparent;
	}
	
.subnav-home-inner,
.subnav-home .advert {
	position: static;
	}
	
.subnav-home .advert  {	
	float: right;
}
	
.subnav-home .close_menu {	
	position: static;
	}
	
.home .container {
overflow: visible;
	}
	
#whatson {
	margin-top: -250px;
	}
	
   header .subnav .radio li {
   	width: 100%;
   	} 