/* WETA Base Styles */

body {
	/*background: #749db4 url(../images/body1.jpg) top left repeat-x;*/
	background: #749db4 url(../images/swoosh2.gif) top left repeat-x;*
	color: #5e5e5e;
	font: normal .9em  'DroidSansRegular',verdana,sans-serif;
	}

* {
	margin: 0;
	padding: 0;
	}

/* Override system defaults. Jess 12/4/2012 */
tbody {
  border:none;
}

.container {
	background: #fff;
	}

.home section .container {
	background: #F0F0F0;
	}

.nobg {
	background: none !important;
	}

#wrap {
	/*background: url(../images/swoosh2.gif) top center no-repeat;*/
	background: transparent;
	}
