/* Mobile Nav */

.menu_toggle {
	display: none;
	padding: 10px 0 0 40%;
	color: #fff;
	width: 50px;
	width: 85px;
	width: 100px;
	cursor: pointer;
	font-size: 1.6em;
	font-family: 'CallunaRegular',verdana,serif;
	}

#mobile_nav, .region-mobile-subnav ul {
  margin: 0;
}

#mobile_nav li, .region-mobile-subnav ul li {
	list-style: none;
	padding: 0;
	font-size: 2em;
	text-align: center;
	}

#mobile_nav li ul {
	padding-top: 0;
	padding-bottom: 0;
	}

#mobile_nav li ul li {
	font-size: .9em;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	margin: 0;
	}

.region-mobile-subnav ul li {
	font-size: 1.5em;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	margin: 0;
	}

#mobile_nav li a, .region-mobile-subnav ul li a {
	background: #fff;
	display: block;
	padding: 10px;
	font-family: 'CallunaRegular',verdana,serif;
	color: #797979;
	}

#mobile_nav li a:hover,
#mobile_nav li a:focus,
.region-mobile-subnav ul li a:hover,
.region-mobile-subnav ul li a:focus  {
	background: #3a657e !important;
	color: #fff;
	text-decoration: none;
	}

#mobile_nav li a.ui-state-active {
	background: #3a657e;
	color: #fff;
	}

#mobile_nav {
	background: #f0f0f0;
	}

#mobile_nav .ui-corner-all, #mobile_nav .ui-corner-bottom, #mobile_nav .ui-corner-right, #mobile_nav .ui-corner-br,
#mobile_nav .ui-corner-all, #mobile_nav .ui-corner-bottom, #mobile_nav .ui-corner-left, #mobile_nav .ui-corner-bl,
#mobile_nav .ui-corner-all, #mobile_nav .ui-corner-top, #mobile_nav .ui-corner-right, #mobile_nav .ui-corner-tr,
#mobile_nav .ui-corner-all, #mobile_nav .ui-corner-top, #mobile_nav .ui-corner-left, #mobile_nav .ui-corner-tl {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}

.ui-state-default .ui-icon,
.ui-icon-triangle-1-s {
	background: none !important;
	}

.ui-accordion .ui-accordion-header {
	margin-top: 0;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	}
