@media only screen and (max-width: 767px) and (min-width: 747px) {

	.player .span_7 {
		width: 55%;
	}
	
	.player .span_5 {
		width: 45%;
	}


}

@media only screen and (max-width: 747px)  {
	.hide-mobile {
		display: none;
		}
}

#player-player a {
	display: block;
	float: left;
	height: 44px;
	text-indent: -9999px;
	overflow: hidden;
	outline: none;
	width: 43px;
	vertical-align: middle;
}

.player-time {
	padding: 15px 10px;
	font-size: .75em;
	color: #747474;
	float: left;
	}
	
#player-volume-wrapper, #player-volume {
	float: left;
}	
	
.player-timeline {
	display: none;
	}
	
#player-player #player-volume {
	position: relative;
	width: 50px;
	margin: 15px 6px 0 4px;
	background: #CCC;
	-moz-border-radius: 2px;
	}
#player-volume-wrapper {	
		height: 33px;
		}

#player-volume-wrapper .ui-slider-handle {
	background: #3A3A3A;
	border: none;
	width: 6px;
	height: 23px;
	margin: 0 0 0 0;
	}

.vol-symbol {
	height: 33px;
	line-height: 33px;
	padding: 5px;
	float: left;
	}

a#player-play {
	background: url(../images/play.png) no-repeat;
	}
	
a#player-pause {
	background: url(../images/pause.png) no-repeat;
	}

/* mobile version */
.mobile-player {	
	display: none;
	}
	
.mitem {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	}	
	
.mhead {	
	font-size: 1.5em;
	}
	
@media screen and (min-width: 0px) and (max-width: 479px) { 
	
	.mobile-player {	
	display: block;
	}
	
	#ll-player {
	padding: 0;
	}
	
	.hide-player-mobile {
	display: none;
	}
	
    }