/* schedule override */


@media screen and (min-width: 0px) and (max-width: 479px) { 
	
	.schd-head,
	.scroll-bar-wrap {
		display: none;
		}
		
	.grid {
		left: 0;
		width: 100%;
		font-size: 110%;
		}	

		
    .stations {
    	display: none;
    	}
    	
    .grid ul {
    	float: none;
    	clear: none;
    	margin: 0;
    	padding: 0 !important;
    	}
    .grid li {
    	float: none;
    	width: 100% !important;
    	}
    	
    .show-mobile-schd-head {
    	display: block;
    	padding: 20px;
    	text-align: center;
    	border: 1px solid #8DA7B6;
		color: #8DA7B6;
		background: #3A657E;
    	}
    	
    span.show-mobile-schd {
    	display: block;
    	margin: 5px 10px 1px;
    	
    	margin-top: 4px;
    	margin-right: -90px;
    	}
    	
    .grid li .title {
    	margin-top: 17px;
    	}
    
}