a#donate_nav,
#donate-btn,
a#donate_nav:link,
a#donate_nav:visited {
	color: #fbffff;
	text-transform: uppercase;
	font-family: 'DroidSansRegular',verdana,san-serif;
	font-size: 0.75em;
	border-radius: 8px;
	border-bottom: none;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
	margin-top: 9px;
	padding: 7px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background: #c4001a; /* Old browsers */
	background: -moz-linear-gradient(top,  #c4001a 0%, #980210 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4001a), color-stop(100%,#980210)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c4001a 0%,#980210 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c4001a 0%,#980210 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c4001a 0%,#980210 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c4001a 0%,#980210 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4001a', endColorstr='#980210',GradientType=0 ); /* IE6-9 */
	}

a#donate-btn {
	width: 96px !important;
	margin: 8px 0 0 -5px !important;
	font-size: 1em;
}

a#donate_nav {
	width: 86px !important;
}

li#episodes_nav {
	background: transparent url('../images/PlayButton_54x54.png') left center no-repeat;
}

li#episodes_nav:before {
	content: '|';
}

li#episodes_nav:after {
	content: ">";
	color: #9b000b;
	font-weight: bold;
}

a#vid_nav {
	display: inline-block;
	color: #557a90;
	font-weight: bold;
	padding-right: 10px;
	margin-left: 25px;
}

nav li a {
	padding: 14px 20px 5px;
}

#listen_live {
	background-color: #4c6f85;
	background-image: url('../images/headphones.png');
}

@media screen and (max-width: 767px) and (min-width: 480px){
	#listen_live {
	margin-top: 0 !important;
	}
	a#donate-btn {
	display: inline-block;
	}
}

/*@media screen and (max-width: 767px) {
	a#donate-btn {
		width: 96px !important;
	}
}*/

@media screen and (max-width: 1250px){
	nav li a {
	padding: 14px 16px 5px;
	}
}

@media screen and (max-width: 1160px) {
  nav li a {
    padding:14px 12px 5px
  }

  .front nav li a {
    padding:14px 20px 5px
  }

}

@media screen and (max-width: 1150px){
	nav li a {
	padding: 14px 12px 5px;
	}
}

@media screen and (max-width: 1090px) {
	nav li a {
		padding: 14px 8px 5px;
	}
	a#vid_nav {
		margin-left: 30px;
	}

	.front nav li a {
		padding: 14px 10px 5px;
	}
}
@media screen and (max-width: 1050px) {
	nav li a {
	padding: 14px 6px 5px;
	}

	li#episodes_nav {
		background: none;
	}

	a#vid_nav {
		margin-left: 0;
	}
}

@media screen and (max-width: 905px) {
	.front li#episodes_nav:after {
	content: ">";
	color: #9b000b;
	font-weight: bold;
	}

	li#episodes_nav:after {
	content: none;
	}

}

@media screen and (max-width: 880px) {
	li#episodes_nav:after {
	content: ">";
	color: #9b000b;
	font-weight: bold;
	}
}

@media screen and (max-width: 840px){
	nav li a {
	padding: 14px 3px 5px;
	}
}

@media screen and (max-width: 815px) {
	.front li#episodes_nav:after {
		content: none;
	}

}

@media screen and (max-width: 800px) {
	.front nav li a {
	padding: 14px 8px 5px;
	}
}

@media screen and (max-width: 775px) {
	li#episodes_nav:after {
	content: none;
	}
}

@media screen and (max-width: 767px) {
	#listen_live {
		margin-top: 0 !important;
		padding-left: 7px !important;
		width: 127px !important;
	}
}

@media screen and (max-width: 479px) and (min-width: 320px) {
	#listen_live {
	margin: 0 !important;
	padding-left: 7px !important;
	width: 127px !important;
	}

	#head_top a {
	margin: 0;
	}

	a#donate-btn {
	margin-bottom: 5px !important;
	}
}

.region-nav {
	position: relative;
}

#desktop_nav nav li:first-child + li + li + li + li + li + li + li + li {
	position: absolute;
	right: 8px;
}

#desktop_nav nav li:last-child {
	position: absolute;
	right: 8px;
}

/* Hide the donate button on Cancer Preview Screening pages */
.page-node-259010 a#donate_nav, .page-node-259011 a#donate_nav, .page-node-259321 a#donate_nav, .page-node-260999 a#donate_nav, .page-node-259010 a#donate-btn, .page-node-259011 a#donate-btn, .page-node-259321 a#donate-btn, .page-node-260999 a#donate-btn {
	  background: none repeat scroll 0 0 transparent;
    color: #fafafa;
    text-shadow: none;
    opacity: 0;
}
