h1 {
	color: #525151;
	font: normal 2.4em 'CallunaRegular',georgia,serif;
	margin: 11px 0;
	}

h2 {
	color: #3a657e;
	font: normal 1.5em/1.4 'CallunaRegular',georgia,serif;
	margin: 9px 0;
	}

h2 a:link,
h2 a:visited {
	color: #3a657e;
	}

h2.gray {
	color: #525151;
	font-size: 2em;
	}

h3{
	font: 1.05em 'DroidSansBold',verdana,sans-serif;
	color: #3a657e;
	text-transform: uppercase;
	margin: 8px 0;
	}


h4 {
	font: 1em 'DroidSansBold',verdana,sans-serif;
	color: #555;
	margin: 7px 0;
	}

h5,
h6 {
	font: 1em 'DroidSansBold',verdana,sans-serif;
	color: #8bacbf;
	margin: 7px 0;
	}

p {
	color: #5e5e5e;
	font: normal 1em/1.7  'DroidSansRegular',verdana,san-serif;
	margin: 11px 0;
	}

.italic {
  font-style: italic;
}

/* style to smooth out display.  Jess 12/27/2012 */
.spaced {
  line-height: 115%;
}


/* Listen Live Player */

body.player {
	background: #c7dae5;
  width: auto;
  padding: 0;
  border:none;
}

.player #ll-player {
	max-width: 728px;
  padding: 15px;
	border-top: 11px solid #e98817;
	background: transparent;
	}

.player .topbanner {
  height: 94px;
}

.player .player-wrapper {
  margin-top:0;
}
.player #js-tabs, .player #js-tabs .item-list {
  width: 100%;
}

/* Removed Audio Features tab, so switched width to 50%. Jess 9/25/2013. See also weta_player.pages.inc. */
.player #js-tabs .item-list ul li {
  padding: 0;
  height:70px;
  /*width: 33%;*/
  width: 50%;
}

.player #js-tabs .item-list ul li .active, .player #js-tabs .item-list ul li a {
  background-position: center 45px;
  width: 100%;
}

.player #js-tabs .item-list a {
  font-family: 'DroidSansBold',verdana,sans-serif;
  font-size: 1.1em;
}

body .jp-gui {
  width: 280px;
  padding-top: 12px;
}

body .jp-controls li, body .jp-volume-controls li {
  padding: 0;
}

body #extra_text {
  padding: 12px 0;
  clear: both;
}

.ctr {
	text-align: center;
	}


.ll-player-wrap {
	clear: left;
	background: #fff;
	position: relative;
	margin-top: 8px;
}
#player-ad-square {
	margin: 10px 0;

}
#player-ad-square .ad300 {
	float: none;
}
#player-ad-square .ad300 img {
	margin: 0;
}

/* END Listen Live Player */


#jp-header .classical-weta {
    display: inline;
    float: left;
    margin-top: 12px;
}
#jp-header .classical-weta a {
    background: url("../images/player-classical-logo.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-right: 12px;
    text-indent: -1000px;
    width: 114px;
}
#jp-header .donate-now {
    display: inline;
    float: left;
    margin-top: 12px;
}
#jp-header .donate-now a {
    background: url("../images/player-donate-btn.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    text-indent: -1000px;
    width: 127px;
}