@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    /* Fonts */
    #rlb, #rlb p {
      font-family: 'Montserrat', sans-serif;
    }

    /* Backgrounds */

    .mfp-bg.responsive-lightbox {
        opacity: 0.8 !important;
    }

    #rlb, .rlb-simple {
      padding-bottom: 70px;
      max-width: 900px;
      /*max-height: 430px;*/
      overflow: hidden;
      /* background-color: #<?php print $background_color; ?>; */
    }


    #rlb #wrapper, .rlb-simple #wrapper {
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      /*background-color: #<?php print $background_color; ?>;*/
      padding-right: 15px;
      padding-left: 15px;
      margin-left: auto;
      margin-right: auto;
      min-height: 430px;
    }

    .rlb-simple #wrapper {
      padding: 0;
    }

    #rlb .element-invisible, .rlb-simple .element-invisible {
      display: none;
    }

    .rlb-simple img {
      width: 100%;
    }

    #rlb .field-resp-lb-footer a {
      text-decoration: underline;
      font-size: .9em;
    }

    #rlb .footer-white .field-resp-lb-footer {
      color: #fff;
    }

    #rlb .footer-white .field-resp-lb-footer a {
      color: #fff;
    }

    #rlb .black .field-resp-lb-footer {
      color: #000;
    }

    #rlb .footer-black .field-resp-lb-footer a {
      color: #000;
    }

    #rlb .footer-red .field-resp-lb-footer {
      color: #ad000c;
    }

    #rlb .footer-red .field-resp-lb-footer a {
      color: #ad000c;
    }

    #rlb .field-resp-lb-footer {
      clear: both;
      font-size: 0.9em;
      margin: auto auto auto 10px;
      text-align: center;
      width: 100%;
    }

    #rlb #topper .headline h2 {
      font-family: 'Montserrat', sans-serif;
      color: white;
      /*margin-top: 140px;*/
      text-align: center;
      font-size: 53px;
      font-weight: bold;
      line-height: 1.1;
    }

    #rlb #topper .headline.black h2 {
      color: #000;
    }

    #rlb #topper .red, #rlb #topper .black {
      background-color: transparent;
    }

    #rlb #topper .headline.red h2 {
      color: #ad000c;
    }


    #rlb #buttons {
      margin: 10px;
    }

    #rlb #buttons a {
      font-size: 1.3rem;
      vertical-align: middle;
      text-transform: uppercase;
      display: inline-block;
      white-space: normal;
    }

    #rlb #buttons .multiple {
      padding-left: 15px;
      padding-right: 15px;
    }

    #rlb #buttons .multiple a {
      background-color: #ad000c;
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.4);
      font-size: 1.3rem;
      font-weight: bold;
      height: 60px;
      line-height: 1.1;
      margin-bottom: 2rem;
      padding: 5px;
      white-space: normal;
      text-decoration: none;
      border-radius: 6px;
      width: 100%;


    }

    #rlb #buttons .center {
      text-align: center;
    }

    #rlb .full a {
      width: 100%;
    }

    #rlb .btn-text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    #rlb .btn-text .addtext {
      font-weight: normal;
      font-size: 14px;
    }

    #rlb form {
      width: 100%;
      margin: 0 auto;

    }

    #rlb .form-item input {
      width: 100%;
      margin: 3px 10px;
      padding: 20px;
    }

    #rlb .form-submit {
      background: #ad000c none repeat scroll 0 0;
      border: medium none;
      color: #fff;
      padding: 20px;
      margin: 3px 10px;
      text-transform: uppercase;
      width: 100%;
    }

    #rlb #bottom {
      margin: 10px;
    }
    #rlb #bottom p, #topper p {
      font-size: 35px;
      font-weight: bold;
      text-align: center;
      margin: 20px auto;
      line-height: 1.4;
    }

    #rlb #bottom.white p, #topper.white p {
      color: white;
    }

    #rlb #bottom.black p, #topper.black p {
      color: #000;
    }

    #rlb #bottom.red p, #topper.red p {
      color: #ad000c;
    }

    #rlb #bottom img {
      max-width: 100%;
    }


    #rlb #blip {
      border-top: 4px solid #a18463;
      margin: 20px auto;
      width: 25%;
    }

    /* honeypot */
    .homepage-textfield {
      display: none !important;
    }

    @media (min-width: 768px) {

      #rlb, .rlb-simple {
        padding-bottom: 0;
        height: 430px;
        overflow: hidden;
      }



      #rlb #wrapper, .rlb-simple #wrapper {
        /*background: #999 url(<?php print "'" . $desktop_background_url . "'"; ?>) top center / 100% no-repeat;*/
        background-color: #999;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

      }
      #rlb #buttons a {
        font-size: 1.9rem;
        margin-left: 10px;
      }

      #rlb #buttons .field-resp-lb-footer a {
        font-size: 1em;
        margin-left: auto;
        text-transform: none;
        vertical-align: bottom;
      }

      #rlb #topper {
        padding-top: 8px;
      }

      #rlb #topper .headline h2 {
        font-size: 60px;
        margin-top: 30px;
      }

      #rlb #topper .headline.full_center h2 {
        width: 100%;
        max-width: 100%;
        margin: 20px auto 0;
        text-align: center;
      }

      #rlb #topper .headline.full_left h2 {
        width: 100%;
        max-width: 85%;
        margin-top: 20px;
        text-align: left;
      }

      #rlb #topper .headline.half_left h2, #rlb #topper p.half_left {
        width: 70%;
        text-align: left;
      }

      #rlb #lower {
        position: absolute;
        bottom: 0;
        width: 95%;
      }

      #rlb #bottom img {
        max-width: 50%;
      }
      #rlb #bottom {
        /*margin-top: 90px;*/
      }
      #rlb #bottom::before {
        display: none;
      }
      #rlb #bottom p, #rlb #topper p {
        margin: 5px 0;
      }

      #rlb #bottom.full_center p, #rlb #topper.full_center p {
        text-align: center;
      }

      #rlb #bottom.full_left p, #rlb #topper .full_left p {
        text-align: left;
      }

      #rlb #bottom.half_left p, #rlb #topper.half_left p {
        text-align: left;
        max-width: 60%;
      }

      #rlb #blip {
        display: none;
      }
      #rlb #buttons {
        margin: 0;
      }

      #rlb .form-item input {
        width: 20%;
        float: left;
        margin: 15px 10px;
      }

      #rlb .form-submit {
        width: auto;
        margin: 15px 10px;
      }
    }

    @media (min-width: 575px) and (max-width: 779px) {
      #rlb #topper .headline h2 {
        margin-top: 200px;
      }
      #rlb #buttons .field-resp-lb-footer a {
        font-size: 1em;
        margin-left: auto;
        text-transform: none;
        vertical-align: bottom;
      }
    }
