

body .jp-playlist {
  overflow: hidden;
  *zoom: 1;
  display: none;
}
body .jp-toggles {
  display: none;
}
body .jp-current-time, body .jp-duration {
  color: #cccccc;
  font-size: 12px;
  float: left;
  display: inline;
  padding: 0 6px;
  left: 115px !important;

}


body .jp-controls {
  width: 50px;
  height: 0px;
}
body .jp-volume-controls {
  width: 24px;
}
body .jp-controls, body .jp-volume-controls {
  overflow: hidden;
  *zoom: 1;
  float: left;
  display: inline;
  margin: 0;
  padding-left: 0;
}
body .jp-controls li, body .jp-volume-controls li {
  float: left;
  display: inline;
  margin-right: 12px;
  overflow: hidden;
  *zoom: 1;
}
body .jp-controls li a, body .jp-volume-controls li a {
  display: block;
  text-decoration: none;
}
body .jp-controls li .jp-play, body .jp-volume-controls li .jp-play {
  background: url("../images/player/play.png") no-repeat;
}

body .jp-controls li .jp-pause, body .jp-volume-controls li .jp-pause {
  background: url("../images/player/pause.png") no-repeat;
}

a.jp-play, a.jp-pause {
  height: 45px;
  width: 45px;
}

body .jp-controls li .jp-unmute, body .jp-volume-controls li .jp-unmute {
  float: left;
  display: inline;
  background: url("../images/player/unmute.png") no-repeat;
  display: block;
  text-indent: -1000px;
  width: 18px;
  height: auto;

}
body .jp-controls li .jp-mute, body .jp-volume-controls li .jp-mute {
  float: left;
  display: inline;
  background: url("../images/player/mute.png") no-repeat;
  display: block;
  text-indent: -1000px;
  width: 18px;
  height: auto;

}
body .jp-controls li .jp-previous, body .jp-controls li .jp-next, body .jp-controls li .jp-volume-max, body .jp-controls li .jp-stop, body .jp-volume-controls li .jp-previous, body .jp-volume-controls li .jp-next, body .jp-volume-controls li .jp-volume-max, body .jp-volume-controls li .jp-stop {
  display: none;
}
body .jp-gui {
  float: left;
  display: inline;
  width: 400px;
}
body #volume-control {
  overflow: hidden;
  *zoom: 1;
}
body .max-volume {
  display: none;
}
body .jp-volume-bar {
  background: #cccccc;
  height: 8px;
  width: 50px;
  float: left;
  display: inline;
}
body .jp-volume-bar-value {
  height: 8px;
  background: #557a90;
}
body div.jp-progress  {
  width: 100px;
  float: left;
  display: inline;
  background: #cccccc;
  height: 8px;
  margin-right: 12px;
  left: 120px !important;
}
body .jp-play-bar {
  background: #557a90;
  height: 15px;
}
body .volume-slider {
  background: #b71a03;
  height: 18px;
  width: 8px;
}
body .jp-title {
  float: left;
  display: inline;
  clear: both;
  font-size: 12px;
}
body .jp-title li {
  list-style: none;
}

.jp-interface {
  clear: both;
  border: none !important;
  background-color: transparent !important;
  margin: 40px 0;

}

#jquery_jplayer_1 {
  overflow: hidden;
  *zoom: 1;
  display: block;
  height: 300px;
}

.jp-volume-max {
  display: none !important;
}

